.row {
    
    @mixin clearfix;
    
    /* removing the 65px gap from the last column div*/
    &--gutter {
        margin-right: -65px;
    }
     &--gutter-lg {
        margin-right: -100px;
    }
    &--gutter > div{
        padding-right:65px;
    }
    &--gutter-lg > div{
        padding-right:65px;
    }
    &__b-margin-until-med{
        margin-bottom:35px;
    }
    @mixin atMedium{
        &__b-margin-until-med{
            margin-bottom:0px;
        }
        &__med-4{
            float:left;
            width:33.33%;
        }
        &__med-4--larger{
            width:37%;
        }
        &__med-6{
            float:left;
            width:50%;
        }
        &__med-8{
            float:left;
            width:66.66%;
        }
        &__med-8--smaller{
            width:63%;
        }
    }
    
}