.wrapper{
    padding: 0 18px;
    overflow: hidden;
    max-width:1236px;
    margin: 0 auto;
    &--medium {
        max-width: 976px;
    }
    .wrapper { /* any wrapper inside another wrapper gets no paddings*/
        padding:0;
    }
    &--b-margin {
        margin-bottom:1rem;
        @mixin atSmall {
            margin-bottom:3.875rem;
        }
    }
}